body{
    background: linear-gradient(#585508,#c31b1b);
    color: #fdfde6;
    font-family: cursive;
}

img{
    width: 70%;
}

a{
    color: #edff64;
    background: linear-gradient(#6a670f,#464403);
    text-decoration: none;
    padding: 2px 5px;
}

.container{
    width: 600px;
    background: linear-gradient(#2d4d2a,#254023);
    padding: 10px 50px;
}